.page{
 margin-top: 10px;
 margin-left: 10px;
 margin-right: 10px;
}

h1{
  margin:10px;
}

.container{
  display: flex;
  align-items: stretch;
  margin: 10px;
}

.container-c{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex:1;
}
.margin-left{
  margin-left: 5px;
}
.margin-right{
  margin-right: 5px;
}

.full-width {
  width: 100%;
}
mat-form-field {
  width: 100%;
}

textarea{
  height: 150px;
}
