<div class="page">
  <h1>Wizkids</h1>
  <div class="container">
    <mat-button-toggle-group (change)="onLanguageChanged($event.value)" value="{{language}}">
      <mat-button-toggle value="en-GB">en-GB</mat-button-toggle>
      <mat-button-toggle value="da-DK">da-DK</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="container">
    <mat-form-field class="full-width" appearance="fill">
      <textarea matInput (keyup)="textChanged($event)" ></textarea>
    </mat-form-field>
  </div>

  <div class="container" space-between>
    <div class="container-c margin-right">
      <div>
        <h3>Dictionary</h3>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <select matNativeControl size="5">
            <option *ngFor="let word of dictionaryWords" value={{word}}>{{word}}</option>
          </select>
        </mat-form-field>
      </div>
    </div>

    <div class="container-c margin-left">
      <div>
        <h3>Custom</h3>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <select matNativeControl size="5">
            <option *ngFor="let word of customWords" value={{word}}>{{word}}</option>
          </select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
